apiVersion: v1
kind: ConfigMap
metadata:
  name: graphex-staging-configmap
  namespace: graphex-staging
data:
  # https://stackoverflow.com/questions/49129809/kubernetes-how-to-send-data-from-a-pod-to-another-pod-in-kubernetes
  public-server-host: http://graphex-staging-backend-service.graphex-staging
  public-server-port: "8080"
  mongo-initdb-database: task-management
  mongo-port-for-backend: "27017"
  mongo-host-for-backend: graphex-staging-mongo-service.graphex-staging

#comment for triggering rebuild